%script
  $('#main-nav li').removeClass('current');
  $('#main-nav .write').addClass('current');
  $('#main-nav>ul li.users>ul li').removeClass('current');
  $('#main-nav ul li.users>ul li:first-child').addClass('current');
  $('#breadcrumb li:first-child a').html('Project');
  $('#breadcrumb li:last-child a').html('List');
  
%section.grid_4.project_list
  .block-border
    .block-content
      %h1
        Projects list
        = link_to 'New Project', new_project_path
      - @projects.each do |project|
        .task.with-legend
          .legend
            - if project.tasks == "Standard"
              %img{:height => "16", :src => "assets/icons/fugue/status.png", :width => "16"} Standard project
            - if project.tasks == "Soon"
              %img{:height => "16", :src => "assets/icons/fugue/status-away.png", :width => "16"} Soon overdue project
            - if project.tasks == "Overdue"
              %img{:height => "16", :src => "assets/icons/fugue/flag.png", :width => "16"} Overdue project
          .task-description
            %ul.floating-tags
              %li.tag-time #{time_ago_in_words(project.end_date)}.
              %li.tag-tags #{project.approver}
              %li.tag-user #{project.project_manager}
            %h3 Project name
            #{project.description}
          %ul.grid-actions.project_action
            %li
              = link_to edit_project_path(project), {:title =>"Edit", :class =>"with-tip"} do
                %img{:src =>"assets/icons/fugue/pencil.png", :width =>"16", :height =>"16"}
            %li
              = link_to project, method: :delete, data: { confirm: 'Are you sure?'}, :title =>"Delete", :class =>"with-tip" do
                %img{:src =>"assets/icons/fugue/cross-circle.png", :width =>"16", :height =>"16"}
            %li
              = link_to project, {:title =>"More Information", :class =>"with-tip"} do
                %img{:src =>"assets/icons/fugue/navigation.png", :width =>"16", :height =>"16"}
          %ul.task-dialog
            %li
              %strong Marc:
              Don't forget to tell the client
              %em - Yesterday
              %ul.mini-menu
                %li
                  %a{:href => "#", :title => "Send mail"}
                    %img{:height => "16", :src => "assets/icons/fugue/mail.png", :width => "16"}/
                %li
                  %a{:href => "#", :title => "Delete comment"}
                    %img{:height => "16", :src => "assets/icons/fugue/cross-circle.png", :width => "16"} Delete
            %li
              %strong John:
              I suggest you could ask Dan or Sandy for a little help
              %em - 2 hours ago
              %ul.mini-menu
                %li
                  %a{:href => "#", :title => "Send mail"}
                    %img{:height => "16", :src => "assets/icons/fugue/mail.png", :width => "16"}/
                %li
                  %a{:href => "#", :title => "Delete comment"}
                    %img{:height => "16", :src => "assets/icons/fugue/cross-circle.png", :width => "16"} Delete
            %li.auto-hide
              %form.form.input-with-button{:action => "", :method => "post", :name => "task-1-comment"}
                %input#task-1-comment{:name => "comment", :title => "Enter comment...", :type => "text", :value => ""}
                  %button{:type => "submit"} Add
                  
      %ul.message.no-margin
        %li #{@projects.length} projects found

