<script>
$(document).ready(function() {	
	$('#main-nav li').removeClass('current');
	$('#main-nav .users').addClass('current');
	$('#main-nav>ul li.users>ul li').removeClass('current');
	$('#main-nav ul li.users>ul li').eq(2).addClass('current');
	$('#breadcrumb li:first-child a').html('Companies');
	$('#breadcrumb li:last-child a').html('List');
  });
</script>

<section class="grid_12 list_company">
      <div class="block-border"><form class="block-content form" id="table_form" method="post" action="">
        <h1>Companies
        <a href="companies/new" title="Please click to add new user" class="with-tip"><img src="/images/icons/fugue/plus-circle-blue.png" width="16" height="16"> new add</a>
        </h1>
        <div class="block-controls">
          
          <ul class="controls-buttons">
            <li><a href="#" title="Previous"><img src="/images/icons/fugue/navigation-180.png" width="16" height="16"> Prev</a></li>
            <li><a href="#" title="Page 1" class="current"><b>1</b></a></li>
            <li><a href="#" title="Page 2"><b>2</b></a></li>
            <li><a href="#" title="Page 3"><b>3</b></a></li>
            <li><a href="#" title="Page 4"><b>4</b></a></li>
            <li><a href="#" title="Page 5"><b>5</b></a></li>
            <li><a href="#" title="Next">Next <img src="/images/icons/fugue/navigation.png" width="16" height="16"></a></li>
            <li class="sep"></li>
            <li><a href="#"><img src="/images/icons/fugue/arrow-circle.png" width="16" height="16"></a></li>
          </ul>
          
        </div>
      
        <div class="no-margin"><table class="table" cellspacing="0" width="100%">
        
          <thead>
            <tr>
              <th class="black-cell"><span class="loading"></span></th>
              <th scope="col">
                <span class="column-sort">
                  <a href="#" title="Sort up" class="sort-up active"></a>
                  <a href="#" title="Sort down" class="sort-down"></a>
                </span>
                Name
              </th>
              <th scope="col">Website</th>
              <th scope="col">Industry</th>
              <th scope="col">
              	<span class="column-sort">
                  <a href="#" title="Sort up" class="sort-up"></a>
                  <a href="#" title="Sort down" class="sort-down"></a>
                </span>
              	Billing Contact
              </th>
              <th scope="col">
              	<span class="column-sort">
                  <a href="#" title="Sort up" class="sort-up"></a>
                  <a href="#" title="Sort down" class="sort-down"></a>
                </span>
              	Software Name
              </th>
              <th scope="col">
                <span class="column-sort">
                  <a href="#" title="Sort up" class="sort-up"></a>
                  <a href="#" title="Sort down" class="sort-down"></a>
                </span>
                Primary Contact
             </th>
              <th scope="col">
                <span class="column-sort">
                  <a href="#" title="Sort up" class="sort-up"></a>
                  <a href="#" title="Sort down" class="sort-down"></a>
                </span>
                Created Date
              </th>
              <th scope="col" class="table-actions">Actions</th>
            </tr>
          </thead>
          
          <tbody>
          	<% @companies.each do |company| %>
          		<tr>
      			  <th scope="row" class="table-check-cell"><input type="checkbox" name="selected[]" id="table-selected-1" value="1"></th>
	              <td><%= company.company_name %></td>
	              <td><%= company.website %></td>
	              <td><%= company.industry %></td>
	              <td><%= company.billing_contact_fn %>  <%= company.billing_contact_ln %></td>
	              <td><%= company.software_name %></td>
	              <td><%= company.primary_contact_fn %>  <%= company.primary_contact_ln %></td>
	              <td><%= company.created_at.strftime("%d/%m/%y %H:%M")%></td>
	              <td class="table-actions">
	              	<%= link_to edit_company_path(company), {:title =>"Edit", :class =>"with-tip"} do %>
                  	<img src="/images/icons/fugue/pencil.png" width="16" height="16">
                  	<% end %>
                  	<%= link_to company, method: :delete, data: { confirm: 'Are you sure?'}, :title =>"Delete", :class =>"with-tip" do %>
                	<img src="/images/icons/fugue/cross-circle.png" width="16" height="16">
                	<% end %>
                	<%= link_to company, {:title =>"More Information", :class =>"with-tip"} do %>
                	<img src="/images/icons/fugue/navigation.png" width="16" height="16">
                	<% end %>
	              </td>
            	</tr>
          	<% end %>

          </tbody>
        
        </table></div>
        
        <ul class="message no-margin">
          <li><%= @companies.count  %> companies found</li>
        </ul>
     </form></div>
    </section>
    